0 6 index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh /home/de-ninja/weather.sh -e
0 6 crontab index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh crontab index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh crontab index.html new.txt raw_data_20240803 rx_poc.csv rx_poc.log temperatures.txt weather.sh /home/d-ninja/weather.sh -e
